* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*--HEADER/NAV--*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  box-shadow: 0 3px 6px black;
  grid-area: header; }
  .header img {
    height: 240px;
    width: 240px;
    border-radius: 15px; }
  .header nav ul {
    display: flex;
    list-style: none; }
    .header nav ul li {
      margin: 15px; }
      .header nav ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        text-transform: lowercase;
        text-shadow: 2px 2px 2px 2px #010501; }
        .header nav ul li a:hover {
          color: antiquewhite; }

/*--MAIN--*/
.contenedor {
  align-items: center;
  width: 100%; }
  .contenedor carrusel {
    display: grid;
    grid-template-columns: auto auto auto; }

.section1 {
  padding: 15px;
  display: flex;
  align-items: center; }
  .section1 img {
    width: 900px;
    height: 500px;
    border-radius: 15px; }

.section2 {
  padding: 15px;
  display: flex;
  align-items: center; }
  .section2 img {
    width: 180px;
    height: 180px;
    border-radius: 15px; }

.componentes {
  display: grid;
  grid-template-columns: auto auto auto; }

.juegos {
  display: grid;
  grid-template-columns: auto auto auto; }

.cards {
  display: grid;
  grid-template-columns: auto auto auto; }

/*--FOOTER--*/
.footer {
  background-color: rgba(0, 219, 219, 0.829);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  box-shadow: 0 3px 6px black; }

.redes-sociales {
  justify-content: space-between;
  align-items: flex-end; }
